<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom p-3">
<h5 class="my-0 mr-md-auto font-weight-normal">Pereguntas y Respuestas</h5>

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#" [routerLink]="['/dashboard']"  >Cuestionarios</a>
    <a class="p-2 text-dark" href="#" [routerLink]="['/dashboard/cambiarPassword']"  >Cambiar Pasword</a>

  </nav>
  <a href="" class="btn btn-outline-success" [routerLink]="['/inicio']" >LogOut</a>
</div>
